<div *ngIf="!isMobile">
  <div class="image-container" *ngIf="images">
    <div class="row">
      <div class="col-1">
        <div class="thumbnails-vertical-container d-none d-lg-block">
          <button
            class="thumbnails-thumbnail-button"
            *ngFor="let image of images"
          >
            <img
              class="thumbnails-thumbnail img-fluid"
              [src]="getProductImageUrl(image.small)"
              alt="Product small image"
              (mouseover)="onMouseOver(image)"
            />
          </button>
        </div>
      </div>
      <div class="col-11" *ngIf="selectedImage">
        <img
          itemprop="image"
          [src]="getProductImageUrl(selectedImage.large)"
          alt="Product large image"
          class="thumbnails-selected-image img-fluid"
        />
      </div>
    </div>
  </div>
</div>
<div *ngIf="isMobile">
  <div *ngIf="images">
    <carousel
      [itemsPerSlide]="itemsPerSlide"
      [singleSlideOffset]="singleSlideOffset"
      [noWrap]="noWrap"
      [interval]="interval"
      [showIndicators]="showIndicators"
    >
      <slide *ngFor="let image of images; let i = index" class="bannerStyle">
        <a>
          <img
            [src]="getProductImageUrl(image.thumb)"
            alt=""
            style="display: block; width: 100%;"
          />
        </a>
      </slide>
    </carousel>
  </div>
</div>
